<ngx-ayni-noauth-block>
    <!-- <div class="index-header">
        <h1>ayniPlay</h1>
        <button class="pull-right btn btn-primary" (click)="onSignIn()"> Sign In </button>
    </div> -->

    <div class="index-team" *ngFor="let team of blocks">
        <img [src]="team.image">
        <div class="index-content">
            <h2>{{team.title}}</h2>
            <p>{{team.description}}</p>
        </div>
    </div>

    <!-- <div class="index-team">

        <img src="/assets/images/team.png">
        <div class="index-content">
            <div class="row">
                <div class="col-md-4">
                    <h2></h2>
                    <p>En muchas organizaciones surge un problema común el cual es la falta de motivación. Esto puede provenir
                        tanto del lado de trabajadores como de clientes, por ejemplo, este problema visto desde el lado del
                        cliente puede generar tendencias a pérdida de lealtad pudiendo llegar al punto de perder dicho cliente
                        y visto desde el lado del trabajador reduce la productividad o desinterés por el trabajo hecho. A
                        este problema común surgen dos formas de captar el interés y motivar a las personas con el fin que
                        cumplan los objetivos establecidos y aun mejor, que den lo mejor de si; estas soluciones son la Gamificación
                        y los Sistemas de Recompensa.</p>
                </div>
                <div class="col-md-4">
                    <h2>
                        Casos de Éxito
                    </h2>
                    <blockquote class="blockquote">
                        <p>
                            <b>Pain Squad</b> En el Hospital Sick Kids de Toronto en Canadá se creó una app para niños con cáncer
                            con la finalidad que los doctores conozcan el nivel de dolor que sienten al recibir los tratamientos
                            médicos. A esta app se le denominó Pain Squad y fue un caso de éxito pudiendo así tener información
                            en tiempo real de cuál es el mejor tratamiento médico para los pacientes.
                        </p>
                    </blockquote>
                    <blockquote class="blockquote">
                        <p>
                            <b>Xbox Live</b> Microsoft lanzó un programa de recompensas para los usuarios de Xbox en donde por
                            jugar determinada cantidad de horas o lograr objetivos de los juegos reciben puntos los cuales
                            luego puede ser canjeado por productos de la propia Microsoft. Esto logró incentivar a la comunidad
                            para que sean más activos dentro del ecosistema Xbox Live y generar lealtad por parte de sus
                            usuarios.
                        </p>
                    </blockquote>
                    <blockquote class="blockquote">
                        <p>
                            <b>BBVA</b> El banco BBVA creó un sistema de recompensas para sus usuarios con el fin de incentivar
                            el uso de su Banca Online, esto permitió reducir el costo en sus otros canales de banca.
                        </p>
                    </blockquote>
                </div>
                <div class="col-md-4">
                    <h2>
                        Casos de Éxito
                    </h2>
                    <blockquote class="blockquote">
                        <p>
                            <b>Pink</b> Victoria Secret lanzó una app móvil en donde los usuarios obtienen PinkPoints a medida
                            que participen en ofertas lanzadas por la tienda y luego pueden usar dichos puntos para canjear
                            productos. Gracias a esto las ventas de Victoria Secret crecieron en el año 2014.
                        </p>
                    </blockquote>
                    <blockquote class="blockquote">
                        <p>
                            <b>Foldit</b> Las Universidades de Northeastern y Washington lanzaron el proyecto Foldit en donde
                            cualquier usuario puede crear modelos de estructuras proteicas. Para el año 2011 se pudieron
                            crear 5400 modelos los cuales ayudaron a poder identificar nuevas formas de vacunas o tratamientos
                            médicos potenciales.
                        </p>
                    </blockquote>
                    <blockquote class="blockquote">
                        <p>
                            <b>Nike+</b> Nike lanzó una app móvil la cual registra la actividad física del usuario, a su vez
                            la app te propone objetivos a cumplir y cuando estos son logrados el usuario recibe trofeos,
                            recompensas los cuales pueden ser compartidos en redes sociales.
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div> -->
</ngx-ayni-noauth-block>