<div class="navbar">
    <div class="navbar-container">
        <a class="navbar-logo" href="/">
            <h1>Heroes At Work</h1>
        </a>
        <div class="navbar-menu">
        </div>
        <button class="btn btn-primary" (click)="onSignIn()">Start playing!</button>
    </div>
</div>
<div class="container">
    <ng-content></ng-content>
</div>
<div class="address-block">
    <div class="links">
        <h6 class="title">Follow us on:</h6>
        <div class="social">
            <a class="socicon-github" href="https://github.com/aynigames" target="_blank"></a>
            <a class="socicon-facebook" href="https://www.facebook.com/aynigames/" target="_blank"></a>
            <a class="socicon-twitter" href="https://twitter.com/aynigames" target="_blank"></a>
        </div>
    </div>
</div>