<nb-card>
  <div class="details">
    <div class="title">{{ title }}</div>
    <div class="status">In Progress</div>
    <div class="row">
      <div class="col-md-2">
          <img src="assets/images/nick.png" alt="..." class="img-thumbnail">
      </div>
      <div class="col-md-2">
          <img src="assets/images/lee.png" alt="..." class="img-thumbnail">
      </div>
      <div class="col-md-2">
          <img src="assets/images/kate.png" alt="..." class="img-thumbnail">
      </div>            
    </div>
  </div>
</nb-card>