<h2>{{ game.name}} </h2>
<div class="row">
  <div class="col-xxxl-3 col-md-4">
      <nb-card class="solar-card">
          <nb-card-header>Remaining Score</nb-card-header>
          <nb-card-body>
              <div style="height: 92px;" echarts [options]="optionRemainingPoint" class="echart"></div>               
              <div class="info">
                <div class="value">{{ currentPlayer.giverScore}} points</div>
                <div class="details"><span> of</span> {{ game.settings.allowed_points}}</div>
              </div>
          </nb-card-body>
      </nb-card>     
  </div>  
  <div class="col-xxxl-3 col-md-4">
      <nb-card class="solar-card">
          <nb-card-header>Current Score</nb-card-header>
          <nb-card-body>
            <div style="height: 92px;" echarts [options]="optionCurrentScore" class="echart"></div>               
            <div class="info">
              <div class="value">{{ currentPlayer.playerScore}} points</div>
              <div class="details"><span> of</span> {{ game.settings.allowed_points}}</div>
            </div>            
          </nb-card-body>
        </nb-card>     
  </div>  
  <div class="col-xxxl-3 col-md-4">
      <nb-card class="solar-card">
          <nb-card-header>Days left</nb-card-header>
          <nb-card-body>
            <div style="height: 92px;" echarts [options]="optionDaysLeft" class="echart"></div>               
            <div class="info">
              <div class="value">{{ game.daysToEnd.toFixed(2)}} days</div>
              <div class="details"><span> of</span> {{ game.days.toFixed(2) }}</div>
            </div>
          </nb-card-body>
        </nb-card>     
  </div>      
</div>

<h3>Heros </h3>
<div class="row">
  <div class="col-xxxl-3 col-md-12">
    <nb-card class="solar-card">
        <nb-card-header></nb-card-header>
        <nb-card-body>
          <div>
            <div *ngFor="let item of game.players">
                <div class="row">
                  <div class="col-md-12" style="display: inline-flex;">
                    <div style="width: 200px; text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                      <img src="{{item.profileImageUrl}}" style="height: 50px" title="{{item.fullName}}" alt="..." class="img-thumbnail">                  
                      {{item.fullName}}
                    </div>
                    <div style="width: calc(100% - 240px);padding-top: 15px;">
                        <p><ngb-progressbar type="success" [value]="item.playerScore">{{item.playerScore}} points</ngb-progressbar></p>
                    </div>
                    <div disabled style="width: 40px;font-size: 32px;padding-top: 5px;">
                        <a href="#" (click)="openModel(item)" disabled [hidden]="currentPlayer.playerId == item.playerId">
                          <i class="nb-plus-circled"></i>
                        </a>               
                    </div>   
                  </div>                   
                </div>
                <br>
            </div>
            <br> 
          </div>
        </nb-card-body>
      </nb-card>       
  
  </div> 
</div>


  <ng-template #engineTemplate let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add Points</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
            <div class="btn-group" ngbDropdown>
                <!-- <button type="button" class="btn btn-danger">Action</button> -->
                <input type="text" [(ngModel)]="dataPointToAdd.points" class="form-control" style="border-radius: 0.375rem 0 0 0.375rem;">
                <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item" *ngFor="let point of pointList"  (click)="onChangePointCombo(point)">{{point}}</li>
                  <!-- <div role="separator" class="dropdown-divider"></div>
                  <li class="dropdown-item" (click)="onChangePointCombo('50')">50</li> -->
                </ul>
              </div>
        </div>
        <div class="col-md-12">
          <div class="input-group">
            <textarea rows="5" placeholder="Description" class="form-control"></textarea>                    
          </div>            
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-hero-secondary" (click)="c('Cancel')">Cancel</button>
      <button type="button" class="btn btn-hero-success" (click)="c('Ok')">Add Points</button>      
      <!-- <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button> -->
    </div>
  </ng-template>