<h2>{{ game.name}} </h2>

<div class="row">
  <div class="col-xxxl-3 col-md-4">
      <nb-card class="solar-card">
          <nb-card-header>Remaining Score</nb-card-header>
          <nb-card-body>
            <div class="info" style="text-align:center;">
              <h3>180</h3> points
            </div>
          </nb-card-body>
        </nb-card>     
  </div>  
  <div class="col-xxxl-3 col-md-4">
      <nb-card class="solar-card">
          <nb-card-header>Current Score</nb-card-header>
          <nb-card-body>
            <div class="info" style="text-align:center;">
              <h3>120</h3> points
            </div>
          </nb-card-body>
        </nb-card>     
  </div>  
  <div class="col-xxxl-3 col-md-4">
      <nb-card class="solar-card">
          <nb-card-header>Days left</nb-card-header>
          <nb-card-body>
            <div class="info" style="text-align:center;">
            <h3>5</h3> days left
            
            </div>
          </nb-card-body>
        </nb-card>     
  </div>      
</div>

<h3>Heros </h3>
<div class="row">
    <div class="col-xxxl-3 col-md-12">
      <nb-card class="solar-card">
          <nb-card-header></nb-card-header>
          <nb-card-body>
            <div class="info">
              <div *ngFor="let item of game.players">
                  <div class="row">
                      <div class="col-md-2" style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;">
                          <img src="{{item.profileImageUrl}}" style="height: 50px" title="Felipe Pacora" alt="..." class="img-thumbnail">                  
                          {{item.fullName}}
                        </div>
                        <div class="col-md-10">
                            <div class="progress" style="height:20px">
                                <div class="progress-bar" style="width:50%;height:20px"></div>
                            </div>  
                        </div>
                  </div>
                  <br>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <img src="assets/images/nick.png" style="height: 50px" title="Felipe Pacora" alt="..." class="img-thumbnail">                  
                  Felipe Pacora
                </div>
                <div class="col-md-10">
                    <div class="progress" style="height:20px">
                        <div class="progress-bar" style="width:50%;height:20px"></div>
                    </div>  
                </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-md-2">
                      <img src="assets/images/eva.png" style="height: 50px" title="Olga Zegarra" alt="..." class="img-thumbnail">                  
                      Olga Zegarra
                    </div>                
                  <div class="col-md-10">
                      <div class="progress" style="height:20px">
                          <div class="progress-bar" style="width:40%;height:20px"></div>
                      </div>                       
                  </div>
                </div>  
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <img src="assets/images/alan.png" style="height: 50px" title="Jorge Valdivia" alt="..." class="img-thumbnail">                  
                        Jorge Valdivia
                      </div>                
                    <div class="col-md-10">
                        <div class="progress" style="height:20px">
                            <div class="progress-bar" style="width:30%;height:20px"></div>
                        </div>                       
                    </div>
                  </div>  
                  <br>
                  <div class="row">
                      <div class="col-md-2">
                          <img src="assets/images/jack.png" style="height: 50px" title="Gregory Valderrama" alt="..." class="img-thumbnail">                  
                          Gregory
                        </div>                
                      <div class="col-md-10">
                          <div class="progress" style="height:20px">
                              <div class="progress-bar" style="width:20%;height:20px"></div>
                          </div>                       
                      </div>
                    </div>  
                    <br>
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/images/kate.png" style="height: 50px" title="Miguel Koo" alt="..." class="img-thumbnail">                  
                            Miguel Koo
                          </div>                
                        <div class="col-md-10">
                            <div class="progress" style="height:20px">
                                <div class="progress-bar" style="width:10%;height:20px"></div>
                            </div>                       
                        </div>
                    </div>                                                                    

                
            </div>
          </nb-card-body>
        </nb-card>       
    
    </div>  
</div>


<div class="row">
    <div class="progress">
      <div class="progress-bar" style="width:70%"></div>
    </div> 

    
</div>

<div class="row">

</div>

<div class="row">
 
</div>
