<h1>
    Data Policy
</h1>
<p>
    Motivacion.
    En esta política se describe el tipo de información que recopilamos y el modo en que se usa y se comparte.
    Puedes encontrar más herramientas e información en Aspectos básicos de la privacidad.
    
    Al leer nuestra política, recuerda que se aplica a todas las marcas y a todos los productos y los servicios
    de ayniPlay que no disponen de una política de privacidad independiente o que remiten a esta política, y que reciben
    el nombre de "Servicios de ayniPlay" o "Servicios"
</p>